{% extends 'picnmix/base.html' %}
{% load staticfiles %}

{% block title_block %}
Add Album
{% endblock %}

{% block body_block %}
<!-- SECOND LEVEL ACTION MENU -->
<div class="container-fluid menu">
  <div class="container">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link"><span class="nav-title">Pic 'n' mix - Adding an album</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/picnmix/"><span class="fa fa-home fa-lg accent"></span>Home</a></li>
    </ul>
  </div>
</div>
<div>
  <form id="page_form" method="post" action="/picnmix/add_album/" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.album_name }}
    {{ form.album_description }}
    <input type="submit" name="submit" value="Create an album"/>
  </form>
</div>

{% endblock %}
