{% extends 'picnmix/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Add Album
{% endblock %}

{% block body_block %}
  <!-- SECOND LEVEL ACTION MENU -->
  <div class="container-fluid menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link"><span class="nav-title">Pic 'n' mix - Adding an album</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/picnmix/"><span class="fa fa-home fa-lg accent"></span>Home</a>
        </li>
      </ul>
    </div>
  </div>
  <div>

    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-md-6 col-lg-6 offset-3">
          <div class="card form">
            <div class="form-header">
              <div class="form-title">
                <h3>Create a new Album</h3>
                <h5>Enter a title and description of your new album:</h5>
              </div>
              <div class="form-icon">
                <span class="fa fa-plus-square"></span>
              </div>
            </div>
            <div class="form-main">
              <div class="form-group">

                <form id="page_form" method="post" action="/picnmix/add_album/" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.album_name }}
                  {{ form.album_description }}
                  <button type="submit" name="submit" id="form-submit" class="btn btn-lg btn-primary btn-block btn-default"
                      value="Create an album">Create an album
                </button>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>





{% endblock %}
