{% extends 'picnmix/index.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ album.album_name }}
{% endblock %}

{% block body_block %}
    <!-- SECOND LEVEL ACTION MENU -->
    {% if user.is_authenticated %}
        <div class="container-fluid menu" xmlns="http://www.w3.org/1999/html">
            <div class="container">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link"><span class="nav-title">{{ album.album_name }} </span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/picnmix/"><span
                            class="fa fa-home fa-lg accent"></span>Home</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/picnmix/album/{{ album.slug }}/add_photo"><span
                            class="fa fa-plus-circle fa-lg accent"></span>Add
                        Photos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/picnmix/album/{{ album.slug }}/share_album"><span
                            class="fa fa-share-alt fa-lg accent"></span>Share
                        Album</a></li>
                    {% if user.username == album.owner_id.username %}
                        <li class="nav-item">
                        <a class="nav-link" href="/picnmix/album/{{ album.slug }}/delete_album"><span
                                class="fa fa-trash fa-lg accent"></span>Delete Album</a>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END OF SECOND LEVEL ACTION MENU -->

        <!-- SHOW ALL OF THE PHOTOS IN THE ALBUM -->
        {% if album %}

            <div class="container">


                <div class="row">
                    {% if photos %}
                        {% for photo in photos %}
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="card photo">

                                    <a href="{{ photo.image.url }}">
                                        <img class="card-img-top" src="{{ photo.image.url }}" alt=":-("></a>
                                    {% if user.username == album.owner_id.username %}
                                        <div class="card-footer">
                                            <a href="/picnmix/album/{{ album.slug }}/{{ photo.photo_id }}/delete_photo/" class="card-link"><span class="fa fa-trash"></span> Delete</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert">
                            <strong>There is nothing in this album yet!</strong> <a class="add" href="/picnmix/album/{{ album.slug }}/add_photo"><span class="fa fa-plus-circle fa-lg accent"></span>Click here to add some photos.</a></a>.
                        </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            The specified album does not exist!
        {% endif %}
        </div>
    {% else %}
        <a href="{% url 'login' %}">Sign In to add a page.</a><br/>
    {% endif %}
    </div>
{% endblock %}