{% extends 'picnmix/base.html' %}
{% load staticfiles %}
{% block body_block %}
<!-- SECOND LEVEL ACTION MENU -->
<div class="container-fluid menu">
  <div class="container">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link"><span class="nav-title">{{ album.album_name }} </span></a></li>
      <li class="nav-item"><a class="nav-link" href="/picnmix/"><span class="fa fa-home fa-lg accent"></span>Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/picnmix/album/{{ album.slug }}/add_photo"><span
          class="fa fa-plus-circle fa-lg accent"></span>Add
        Photos</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-share-alt fa-lg accent"></span>Share
        Album</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-trash fa-lg accent"></span>Delete Album</a>
      </li>
    </ul>
  </div>
</div>

{% if album %}
<div class="container">
  <div class="row">
    {% if photos %}
    {% for photo in photos %}
    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="card photo">
        <img class="card-img-top" src="{{ photo.image.url }}" alt=":-(">
        <div class="card-footer">
          <a href="#" class="card-link"><span class="fa fa-trash"></span> Delete</a>
          {% if photo.is_cover_photo %}
          <a href="#" class="card-link"><span class="fa fa-picture-o"></span> Cover picture</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <strong>No photos currently in album.</strong>
    {% endif %}
  </div>
</div>
{% else %}
The specified album does not exist!
{% endif %}

<div>

  {% if album %}
  {% if user.is_authenticated %}
  {% else %}
  <a href="{% url 'login' %}">Sign In to add a page.</a><br/>
  {% endif %}
  {% endif %}
</div>
{% endblock %}