{% extends 'picnmix/base.html' %}
{% load staticfiles %}
{% load picnmix_template_tags %}

{% block body_block %}
  <div>
    {% if user.is_authenticated %}
      {% block sidebar_block %}
        {% get_album_list user %}
      {% endblock %}
    {% else %}
      <div class="container-fluid menu">
        <div class="container">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link"><span class="nav-title hide">Login below </span></a></li>
          </ul>
        </div>
      </div>

      <div class="container">
        <div class="row">
          {% include "picnmix/login.html" %}
          <div class="col-sm-12 col-md-8 col-lg-6">
            <img src="{% static "images/main.png" %}" class="img-responsive" alt="No main picture available"/>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
</body>
</html>