{% block body_block %}

  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="card form">
      <div class="form-header">
        <div class="form-title">
          <h3>Welcome to the Photo Album App!</h3>
          <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. </h5>
        </div>
        <div class="form-icon">
          <span class="fa fa-picture-o"></span>
        </div>
      </div>
    </div>

    <div class="card form">
      <div class="form-header">
        <div class="form-title">
          <h3>Login</h3>
          <h5>Enter your username and password.</h5>
        </div>
        <div class="form-icon">
          <span class="fa fa-lock"></span>
        </div>
      </div>

      <div class="form-main">
        <div class="form-group">
          <form id="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" class="form-control" id="login-username" placeholder="Username" name="username">
            <input type="password" class="form-control" id="login-password" placeholder="Password" name="password">
            <button type="submit" id="form-submit" class="btn btn-lg btn-primary btn-block btn-default" value="submit">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="card form">
      <div class="form-header">
        <div class="form-title">
          <h3>Not a Member?</h3>
          <h5><a href="{% url 'register' %}">Click here</a> to register!</h5>
        </div>
        <div class="form-icon">
          <span class="fa fa-pencil"></span>
        </div>
      </div>
    </div>

  </div>

{% endblock %}