{% block body_block %}

<div class="col-sm-6 col-md-6 col-lg-6">
  <h4 class="display-4">Welcome to Pic'n'Mix!</h4>
  <p class="lead">Create and share photos and albums with your friends.</p>
  <hr class="my-4">


  <div class="card form">
    <div class="form-header">
      <div class="form-title">
        <h3>Login</h3>
        <h5>Enter your username and password.</h5>
      </div>
      <div class="form-icon">
        <span class="fa fa-lock"></span>
      </div>
    </div>

    <div class="form-main">
      <div class="form-group">
        <form id="login_form" method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <input type="text" class="form-control" id="login-username" placeholder="Username" name="username">
          <input type="password" class="form-control" id="login-password" placeholder="Password" name="password">
          <button type="submit" id="login-form-submit" class="btn btn-lg btn-primary btn-block btn-default"
                  value="submit">
            Login
          </button>
        </form>
      </div>
      {% if login_error %}
      <div class="form-group">
        <div class="alert alert-danger" role="alert">Invalid login details.</div>
      </div>
      {% endif %}
    </div>
    <div class="card-footer">
      <a>Not a member? <a class="add" href="{% url 'register' %}">Click here</a> to register!</a>
    </div>
  </div>


</div>

{% endblock %}