{% extends 'picnmix/base.html' %}
{% load staticfiles %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
<div class="container-fluid menu">
  <div class="container">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link"><span class="nav-title hide">Register below </span></a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">


    {% if registered %}

    <div class="alert">
      <strong>Thank you for registering!</strong> <a class="add" href="{% url 'index' %}"><span
        class="fa fa-home fa-lg accent"></span>Click here to return to the homepage to login.</a>

    </div>

    {% else %}


    <div class="col-sm-12 col-md-8 col-lg-6 offset-lg-3">
      <div class="card form">
        <div class="form-header">
          <div class="form-title">
            <h3>Register</h3>
            <h5>Create a username and password to register.</h5>
          </div>
          <div class="form-icon">
            <span class="fa fa-pencil"></span>
          </div>
        </div>

        <div class="form-main">
          <div class="form-group">
            <form id="user_form" method="post" action="{% url 'register' %}"
                  enctype="multipart/form-data">
              {% csrf_token %}
              {{ user_form.username }}
              {{ user_form.password }}
              <input class="form-control" type="password" name="password-check"
                     id="password-check" placeholder="Confirm Password"/>
              <button type="submit" name="submit" id="register-form-submit"
                      class="btn btn-lg btn-primary btn-block btn-default"
                      value="Register">Register
              </button>
            </form>
          </div>
        </div>

        <div class="card-footer">
          <a>Already registered? <a class="add" href="{% url 'index' %}">Click here</a> to login!</a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}