{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Add a page
{% endblock %}

{% block body_block %}

{% if album %}
<!-- SECOND LEVEL ACTION MENU -->
<div class="container-fluid menu">
  <div class="container">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link"><span class="nav-title">{{ album.album_name }} - Add a photo</span></a>
      </li>
      <li class="nav-item"><a class="nav-link" href="/picnmix/"><span class="fa fa-home fa-lg accent"></span>Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/picnmix/album/{{album.slug}}"><span
          class="fa fa-arrow-left fa-lg accent"></span>Back to album</a></li>
    </ul>
  </div>
</div>

<div>
  <form id="page_form" method="post" action="/rango/album/{{ album.slug }}/add_page/">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text }}
    {{ field }}
    {% endfor %}
    <input type="submit" name="submit" value="Add Page"/>
  </form>

  {% else %}
  This album does not exist.
  {% endif%}

</div>

{% endblock %}

