{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a page
{% endblock %}

{% block body_block %}

    {% if category %}
    <!-- SECOND LEVEL ACTION MENU -->
    <div class="container-fluid menu">
        <div class="container">
            <ul class="nav">
            <li class="nav-item"><a class="nav-link"><span class="nav-title">{{ category.name }} - Add a photo</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/rango/"><span class="fa fa-home fa-lg accent"></span>Home</a></li>
            <li class="nav-item"><a class="nav-link"  href="/rango/category/{{category.slug}}"><span class="fa fa-arrow-left fa-lg accent"></span>Back to album</a></li>
            </ul>
        </div>
    </div>

        <div>
            <form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="submit" value="Add Page" />
            </form>

        {% else %}
			This category does not exist.
		{% endif%}

        </div>

{% endblock %}

