{% load rango_template_tags %}

<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        The Photo Album App -
        {% block title_block %}
            Welcome!
        {% endblock %}
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="{%  static 'styles/style.css' %}" type="text/css">
</head>
<body>

    <nav class="navbar navbar-toggleable-sm navbar-inverse">

		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

		<a class="navbar-brand" href="{% url 'index' %}"><span class="fa fa-camera fa-lg accent"></span> The Photo Album App</a>

		<div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
			<ul class="navbar-nav">
                {% if user.is_authenticated %}
				<li class="nav-item"><span class="navbar-text">Welcome back {{ user.username }}!</span></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><span class="fa fa-sign-out accent"></span> Log out</a></li>
                {% else %}
                <li class="nav-item"><span class="navbar-text">Welcome, please <span class="fa fa-lock accent"></span>Login or <span class="fa fa-pencil accent"></span>Register</li>
                {% endif %}
			</ul>
		</div>
	</nav>


    <div>
        {% block body_block %}
        {% endblock %}

    </div>
    <div>

<!--
        <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Sign In</a></li>
            <li><a href="{% url 'register' %}">Sign Up</a></li>
        {% endif %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'index' %}">Index</a></li>
        </ul>

    </div>



    <div>
        {% block sidebar_block %}
            {% get_category_list category %}
        {% endblock %}
    </div>
-->

</body>
</html>