{% block body_block %}

    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card form">
            <div class="form-header">
                <div class="form-title">
                    <h2>Login</h2>
                    <h4>Enter your email address and password.</h4>
                </div>
                <div class="form-icon">
                    <span class="fa fa-lock"></span>
                </div>
            </div>

            <div class="form-main">
                <div class="form-group">
                    <form id="login_form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <input type="text" class="form-control" id="login-email" placeholder="Email Address" name="username">
                        <input type="password" class="form-control" id="login-password" placeholder="Password" name="password">
                        <button type="submit" id="form-submit" class="btn btn-lg btn-primary btn-block btn-default" value="submit">Login</button>
                    </form>
                </div>
            </div>

					<div class="card-footer">
						<a href="{% url 'register' %}"><span class="fa fa-users"></span> Click here</a>
					</div>
        </div>
    </div>

{% endblock %}